* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

/****************** 
    TYPOGRAPHY
******************/

h1 {
    font-family: "Montserrat";
    font-size: 3rem;
    color: #fff;
}

header h2 {
    color: black;
    font-size: 1.25rem;
    letter-spacing: 1.2px;
}

header h2,
header a {
    color: #ffc300;
}

h2{
    font-size: 1.7rem;
    color: white;
    font-family: "Montserrat";
}

a {
    font-family:  "Montserrat";
    font-weight: 600;
    font-size: .9rem;
    letter-spacing: 1.25px;
}

li a:hover {
    color: #ffc300;
    outline: 1px solid #ffc300;
    border-radius: 4px;
    padding: 7px;
}

li a:active {
    color: #fff;
    background-color: #ffc300;
    outline: 1px solid #ffc300;
    outline-offset: 3px;
}
a h2:hover {
    border-bottom:  2px solid #ffc300;
}

footer p {
    font-size: .8rem;
}

/****************** 
       HEADER
******************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4em;
    background: #0e0e0e;
}

header img {
    width: 4em;
    height: 4em;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

nav {
    margin-right: 2em;
}

a {
    text-decoration: none;
}


/****************** 
        MAIN   
******************/

.index-main {
    /* height: 100vh; */
    background: #0e0e0e;
    z-index: -2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main.hero {
    z-index: -1;
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.1)
        ),
        url('./image/hero.jpg')
        ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 95vh;
    width: 90%;
    margin: 2em auto;
}


@media (max-width: 450px) {
    .main-title {
        left: 20px;
    }

    h1 {
        font-family: "Montserrat";
        font-size: 2rem;
        color: #fff;
    }
}

/****************** 
      BROWSE
******************/
.gradient {
    background-image: linear-gradient(
      45deg,
      hsl(240deg 30% 26%) 0%,
      hsl(229deg 31% 32%) 9%,
      hsl(221deg 32% 38%) 17%,
      hsl(215deg 34% 44%) 25%,
      hsl(211deg 35% 50%) 33%,
      hsl(207deg 47% 56%) 40%,
      hsl(204deg 62% 63%) 48%,
      hsl(203deg 64% 62%) 55%,
      hsl(203deg 50% 56%) 63%,
      hsl(202deg 41% 49%) 70%,
      hsl(202deg 43% 43%) 78%,
      hsl(201deg 46% 37%) 85%,
      hsl(200deg 50% 31%) 93%,
      hsl(199deg 55% 25%) 100%
    );
}

.browse-main {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 2em auto;
}

.card {
    min-width: 450px;
    border-radius: 10px;
    color: #ffffff;
    text-align: left;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title,
.card-p {
    margin: 0 0 .5em 0;
}

.card-img-container {
    display: block;
    margin: 0 auto;
}

.card-img-container img {
    width: 250px;
}

.icon-container {
    display: flex;
    gap: .5em;
}

.card-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 15px;
    border-radius: 1000px;
    background-color: rgba(0, 0, 0, 0.6);  
}

/****************** 
      SIGNUP
******************/

.signup-main-img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 12px;
    /* clip-path: circle(50%); */
}

/****************** 
       FOOTER
******************/

footer {
    padding: 1em;
    color: #fff;
    background: #0e0e0e;
    font: 1.2rem;
    letter-spacing: 1px;
}
.footer-p {
    padding-bottom: 1em;
}

footer a {
    color: #ffffff;
}

.footer-contact {
    max-width: 500px;
    margin: 1em auto;
    padding: 1em 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

.footer-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7em;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7em;
}

.footer-icon {
    width: 18px;
}